header p{
  color:teal;
  
  
}
header div{  
display: block;
height: 10vh;
width: 100%;
  
}

header nav ul  li {
  
 font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin: 2vh; 
  display:inline-block;
  
  
}
nav{
  padding: 5%;  
}
h1{
 
 font-size: 40px; 
 color: purple;
 display: inline-block;
 position: relative;
 bottom: 5vh;
 left: 70vh;

}













fieldset {
    background-color: #eeeeee;
  }
  
  legend {
    background-color: gray;
    color: white;
    padding: 5px 10px;
  }
  
  input {
    margin: 10px;
  }
  table ,th,td {
    border-collapse: collapse;
    border: 2px solid rgb(37, 36, 36);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;}
    thead,
tfoot {
    background-color: #3f87a6;
    color: #fff;

}